.slide{
	display: block;
	width: 900px;
    height: 700px;
    padding: 40px 60px;
}

#bored{
	font-size: 25px;
	width: 75%;
	height: 75%;
	background: black;
}

.slides
{
	background-color: black;
	width: 75%;
	height: 75%;	
}